<header>
  <nav class="nav-bar">
    <div class="nav-logo">
      <a href="/">Bloggie</a>
    </div>
    <ul class="nav-elements">
      <li class="menu"><a href="/blogs/create">Create Blog</a></li>
      <li class="menu"><a href="/about">About</a></li>
      <li class="menu"><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
</header>
