<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <p class="warn">Oops! No webpage exists with this name.</p>
    <p class="warn">Maybe you're lookin for:</p>
    <a class="anchor" href="/blogs">Bloggie By bamjam101</a>
    <%- include('../partials/footer.ejs') %>
</body>
</html>