<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <section>
        <div class="contact_us_at">
            <h2 data-text="Contact Me At">Contact Me At</h2>
        </div>
        <div class="container">
            
            <div class="card">
                <div class="content">
                    <div class="imagebox"><img src="images/jam.jpg" alt="Dev/Jamil"></div>
                    <br><br>
                    <div class="content_box">
                        <h3>Jamil</h3>
                        <div class="developer">
                            <h1>"</h1>
                            <p>I Create Value!</p>
                            <h1 class="right">"</h1>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <div class="social-media">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>