<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="write.css">
    <script src="write.js"></script>
    <script type="module" src="details.js"></script>
    <title>Write | Bloggie</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-logo">
                <img class="logo" src="CSS/images/logo.png" alt="Logo">
                <a href="/">Bloggie</a>
            </div>
            <ul class="nav-elements">
                <li class="menu"> <a href="/register">Register</a> </li>
                <li class="menu"> <a href="/about">About</a> </li>
                <li class="menu"> <a href="/contact">Contact Us</a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <main class="container">
            <div class="formOne" id="proceed">
                <form> <br>

                    <label>Blog Title</label>
                    <input id="blog-title" name="title" type="text" placeholder="Type here..." required>

                    <br>

                    <label>Blog Body</label>
                    <input id="blog-body" name="body" type="textarea" placeholder="Type here..." required>

                    <br>

                    <div class="button">
                    <a id="proceedBtn" onclick="mainFunction()">
                        <span class="hover">Hover Here</span>
                        <span class="change">Proceed</span>
                    </a>
                  </div>
                </form>

            </div>
        </main>
    </main>
    <footer>
        Copyright &copy; CardPen
    </footer>
</body>

</html>