@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --flow: linear-gradient(45deg, #c5c6c7, #1f2833, #45a29e, #66fcf1, #0b0c10);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 60%;
  min-height: 100vh;
}

body {
  background-image: var(--flow);
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: left;
  animation: flow 20s infinite alternate;
}

@keyframes flow {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.nav-bar {
  display: flex;
  height: 20vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #c5c6c7;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.nav-logo a {
  color: #c5c6c7;
  padding: 0.2rem;
  display: flex;
  font-size: 2.6rem;
  transition: 0.5s;
  text-decoration: none;
}

.nav-logo a:hover {
  color: white;
  cursor: default;
  text-shadow: 0 1px 10px #66fcf1, 0 1px 20px #66fcf1, 0 1px 30px #66fcf1;
}

.logo {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 3rem;
  width: 4vh;
  height: 4vh;
  transition: 1s;
}

.logo:hover {
  background-color: white;
  box-shadow: 0px 0px 40px white, 0px 0px 80px white, 0px 0px 110px white;
}

nav ul {
  display: flex;
  margin-right: 2rem;
  list-style: none;
  text-decoration: none;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: #c5c6c7;
  margin: 0.5em;
  /* letter-spacing: 0.1em; */
  font-size: 2rem;
  padding: 0.5vh;
}

.menu a::after {
  content: "";
  position: absolute;
  background-color: #66fcf1;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.5s;
}

.menu a:hover::after {
  width: 100%;
}
.menu a:hover {
  color: white;
  text-shadow: 0 0 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  width: 100%;
}

.form-container {
  margin-top: 10vh;
}

form {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.25);
  width: 60%;
  height: 50%;
  padding: 2vh 0;
  border-radius: 1rem;
  opacity: 1;
  z-index: 1000;
  transition: 1s;
}

form label {
  font-family: consolas;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  opacity: 0;
  transition: 1s;
}

form input, form textarea {
  width: 90%;
  margin-left: 5vh;
  background-color: #1f2833;
  border: rgba(0, 0, 0, 0.5) 3px solid;
  color: #c5c6c7;
  border-radius: 1rem;
  opacity: 0;
}

textarea {
    height: 120px;
}

form:hover {
  box-shadow: 0 0.5rem 0 -0.25rem #c5c6c7, 0 1rem 0 -0.5rem #45a29e,
    0 1.35rem 0 -0.75rem #66fcf1;
}

form:hover label {
  opacity: 1;
}

form:hover input,
form:hover textarea {
  transition-duration: 1s;
  opacity: 1;
}

.button {
  display: flex;
  justify-content: center;
}

form a {
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  justify-content: center;
  overflow: hidden;
  font-size: 1.6rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  height: 7.5vh;
  padding: 0.2rem 2vh;
  border-radius: 0.4rem;
  cursor: pointer;
  transform: translateY(0);
  transition: 1s;
  animation: btn 3.5s ease-in-out;
  animation-fill-mode: forwards;
  transform: translateY(-2vh);
}

.change {
  display: none;
}

form:hover .hover {
  display: none;
}

form:hover .change {
  display: inline;
}

@keyframes btn {
  0% {
    width: 0%;
  }
  100% {
    width: 12vh;
  }
}

form a:hover {
  border-radius: 0.65rem;
  background: #66fcf1;
  box-shadow: 0 0 10px #66fcf1, 0 0 40px #66fcf1, 0 0 80px #66fcf1;
  color: black;
  font-weight: bold;
}

form:hover a {
  transform: translateY(5vh);
}

input:hover {
  box-shadow: 0px 0px 5px #c5c6c7;
}

/* ========================================= */
footer {
  background-color: rgba(0, 0, 0, 0);
  height: 4vh;
  display: block;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
  font-size: 2.6rem;
  animation: footer 2.25s ease-out;
  animation-fill-mode: forwards;
}

@keyframes footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------Contact-Page--------------------------- */

.contact_us_at {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  min-width: 50%;
}

h2 {
  position: relative;
  font-size: 3rem;
  color: #252839;
  text-transform: uppercase;
  white-space: nowrap;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #c5c6c7;
  border-right: 2px solid #c5c6c7;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

/* -------------------- Social Media Icons ----------------------------------- */

.social-media ul {
  display: flex;
  position: absolute;
  top: 50%;
  align-items: center;
  height: 10vh;
}

.social-media ul li {
  list-style: none;
  margin: 0 5vw;
}

.social-media ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.6s;
  color: black;
}

.social-media ul li a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #c5c6c7;
  text-align: center;
  transition: 0.6s;
}

.social-media ul li a:hover {
  transform: translate(0, -10px);
}

.social-media ul li a:hover .fab {
  color: white;
}

.social-media ul li:nth-child(1) a:hover {
  background-color: #3b5999;
  box-shadow: 0px 0px 15px #3b5999;
}

.social-media ul li:nth-child(2) a:hover {
  background-color: #e4405f;
  box-shadow: 0px 0px 15px #e4405f;
}

.social-media ul li:nth-child(3) a:hover {
  background-color: #0a66c2;
  box-shadow: 0px 0px 15px #0a66c2;
}

/* --------------------------- Cards ---------------------------------------- */

section {
  position: relative;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 2vh 0;
}

.container .card {
  position: absolute;
  margin: 0 4vh;
  margin-top: 25%;
  right: 10%;
  width: 21vw;
  height: 26vw;
  background: #1f2833;
  box-shadow: 0px 0px 15px #1f2833;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card:hover {
  cursor: default;
  border-radius: 0.4rem;
  transform: translateY(-1vh);
  box-shadow: 0 0.5rem 0 -0.25rem #c5c6c7, 0 1rem 0 -0.5rem #45a29e,
    0 1.35rem 0 -0.75rem #66fcf1;
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition-property: transform;
}

.imagebox {
  position: relative;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
}

.imagebox img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.card:hover .imagebox {
  transform: translateY(-20vh);
}

.card:hover .imagebox {
  box-shadow: 0 1px 10px #66fcf1, 0 1px 20px #66fcf1, 0 1px 30px #66fcf1;
}

h3 {
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0 10px;
  transition: 1s;
}

.card:hover h3 {
  color: #c5c6c7;
  font-weight: bold;
  letter-spacing: 3px;
  transform: translateY(-28vh);
}

/* ========================card-dialog==================== */

.content_box {
  width: 18vw;
  display: flex;
  justify-content: center;
}

.developer {
  position: absolute;
}

.content_box h1 {
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: left;
  opacity: 0;
  transition: 1s;
}

.card:hover h1 {
  opacity: 1;
  transform: translateY(-17vh);
}

.content_box p {
  margin-top: 8vh;
  font-size: 2.5rem;
  opacity: 0;
  transition: 1s;
}

.card:hover p {
  opacity: 1;
  transform: translateY(-23vh);
}

.right {
  font-size: 4rem;
  display: flex;
  justify-content: right;
  opacity: 0;
  transition: 1s;
}

.right:hover {
  transform: translateY(-9vh);
  opacity: 1;
}

.developer a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7%;
  margin-top: 14%;
  height: 6vh;
  width: 10vw;
  opacity: 0;
  transition: 1s;
}

.developer a img {
  height: 4vh;
  width: 15vh;
}

.card:hover a {
  opacity: 1;
  transform: translateY(-22vh);
}

.developer a:hover {
  border-radius: 0.5rem;
  background-color: #c5c6c7;
  box-shadow: 0 0 100px #c5c6c7;
}

/* ======================Index page========================== */

.header{
  font-size: 4rem;
  display: block;
  text-align: center;
}

.blog-container {
  display: block;
  width: 80vw;
  height: 50vh;
  margin: auto;
  padding: 15px;
  overflow-y: auto;
}

.blog-title {
  display: inline;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  padding: 10px 0;
  transition: 0.3s;
}

.blog-title:hover {
  text-shadow: 0 2px 5px white;
  cursor: pointer;
}

.blog-snippet {
  font-size: 2.6rem;
  padding-bottom: 2vh;
}

.oops {
  font-size: 2.6rem;
}


/* ===========Scroll bar=========== */

::-webkit-scrollbar{
  width: 0.75em;
}

::-webkit-scrollbar-track{
  border-radius: 100vw;
  background: #1f2833;
}

::-webkit-scrollbar-thumb{
  background: rgba(128, 128, 128, 0.753);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background: #c5c6c7c4;   
}