@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --flow: linear-gradient(
        45deg,
        #C5C6C7,
        #1F2833,
        #45A29E,
        #66FCF1,
        #0B0C10
    );
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-image: var(--flow);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: left;
    animation: flow 20s infinite alternate;
}

@keyframes flow {
    0%{
        background-position: left;
    } 100% {
        background-position: right;
    }
}

.nav-bar{
    display: flex;
    height: 7.5vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #C5C6C7;
    background-color: rgba(0,0,0,0.4);
    animation: nav 2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes nav {
    0% {
        opacity: 0;
        box-shadow: none;
    } 90%{
        box-shadow: 0 0 10px #C5C6C7;
    }
     100% {
        opacity: 1;
        box-shadow: 0 1px 10px #C5C6C7;
    }
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo a{
    color: #c5c6c7;
    padding: 0.2rem;
    display: flex;
    font-size: 2rem;
    transition: 0.5s;
    text-decoration: none;
}

.nav-logo a:hover {
    color: white;
    cursor:default;
    text-shadow: 0 1px 10px #66fcf1, 0 1px 20px #66fcf1, 0 1px 30px #66fcf1;
}

.logo{
    padding-left: 0.2rem; padding-right: 0.2rem;
    border-radius: 3rem;
    width: 4vh;
    height: 4vh;
    transition: 1s;
}

.logo:hover {
    background-color: white;
    box-shadow: 0px 0px 40px white, 0px 0px 80px white, 0px 0px 110px white;
}

nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.menu a{
    position: relative;
    text-decoration: none;
    color: #c5c6c7;
    margin: 0.5em;
    /* letter-spacing: 0.1em; */
    font-size: 2rem;
    padding: 0.5vh;
}

.menu a::after{
    content: "";
    position: absolute;
    background-color: #66fcf1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.menu a:hover::after{
    width: 100%;
}
.menu a:hover{
    color: white;
    text-shadow: 0 0 20px;
}

/* @media screen and (max-width: 480px){
    .nav-bar {
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    .nav-logo {
        font-size: 1.5rem;
        size: 5rem;
        letter-spacing: 2px;
        margin: 0;
    }
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    width: 100%;
    height: 88vh;
}

.formOne {
    /* transform: translateX(28vh); */
    position: absolute;
    background-color: rgba(0,0,0,0.25);
    width: 75vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    opacity: 1;
    z-index: 1000;
    transition: 1s;
    padding-top: 1.5vh;
}

.formOne form {
    position: relative;
    display: block;
    width: 90%;
    height: 100%;
}

.formOne label {
    font-family: consolas;
    position: relative;
    display: flex;
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: 1s;
}

.formOne input {
    display: flex;
    justify-content: center;
    background-color: #1F2833;
    margin: 1.15vh 0;
    border: rgba(0,0,0,0.5) 0.1vh solid;
    color: #C5C6C7;
    border-radius: 0.6rem;
    opacity: 0;
}

.toggle {
    margin: none;
    height: 1.4rem;
    width: 1.4rem;
    padding: 0 10vh;
}

.formOne:hover {
    box-shadow: 0 0.5rem 0 -0.25rem #C5C6C7,
    0 1rem 0 -0.5rem #45A29E,0 1.35rem 0 -0.75rem #66fcf1;
}

.formOne:hover label {
    opacity: 1;
}

.formOne:hover input {
    transition-duration: 1s;
    opacity: 1;
}

#blog-title {
    height: 4vh;
    width: 100%;
    text-align: center;
}

#blog-body {
    width: 100%;
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
}

.formOne form a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    justify-content: center;
    overflow: hidden;
    font-size: 2.1rem;
    color: white;
    background-color: rgba(0,0,0,0.25);
    text-align: center;
    height: 7.5vh;
    padding: 0.2rem 2vh;
    border-radius: 0.4rem;
    cursor: pointer;
    transform: translateY(-25vh);
    transition: 1s;
    animation: btn 3.5s ease-in-out;
    animation-fill-mode: forwards;
}

.change {
    display: none;
}

.formOne:hover .hover {
    display: none;
}

.formOne:hover .change {
    display: inline;
}

@keyframes btn {
    0% {
        width: 0%;
    } 100% {
        width: 12vh;
    }
}

.formOne a {
    transform: translateY(0);
}

.formOne:hover a {
    transform: translateY(2vh);
}

.formOne form a:hover {
    border-radius: 0.65rem;
    background: #66fcf1;
    box-shadow: 0 0 10px #66fcf1, 0 0 40px #66fcf1, 0 0 80px #66fcf1;
    color: black;
    font-weight: bold;
}

input:hover {
    box-shadow: 0px 0px 5px #C5C6C7;
}

/* ========================================= */
footer{
    background-color: rgba(0,0,0,0);
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2.6rem;
    animation: footer 2.25s ease-out;
    animation-fill-mode: forwards;
}

@keyframes footer {
    0%{
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}


/* ============================= Media Queries =================================== */

@media(max-width:1024px){
    html{
        font-size: 70%;
    }
    .form{
        height: 60vh;
        width: 50vw;
    }

    .formTwo{
        height: 60vh;
        width: 50vw;
    }

    .form form label {
        line-height: 3vh;
    }

    .formTwo form label {
        line-height: 3vh;
    }

    .form:hover form a {
        transform: translateY(-1vh);
    }

    .nav-bar {
        height: 7vh;
    }

    .container {
        height: 88vh;
    }

    footer {
        height: 5vh;
    }

}

@media(max-width:786px){
    html{
        font-size: 50%;
    }
    .form{
        height: 55vh;
        width: 40vw;
    }
    .formTwo{
        height: 55vh;
        width: 40vw;
    }

    .nav-bar {
        height: 7vh;
    }

    .container{
        height: 89vh;
    }

    .form form label {
        line-height: 2rem;
    }

    .formTwo form label {
        line-height: 2rem;
    }

    footer {
        transform: translateY(-2vh);
    }
    
}

@media(max-height: 560px){
    html{
        font-size: 50%;
    }
    .form{
        height: 70vh;
        width: 40vw;
    }
    .formTwo{
        height: 70vh;
        width: 40vw;
    }

    .nav-bar {
        height: 7vh;
    }

    .container{
        height: 89vh;
    }

    .form form label {
        line-height: 2rem;
    }

    .formTwo form label {
        line-height: 2rem;
    }

    footer {
        transform: translateY(-2vh);
    }
    
}


@media(max-width:560px){
    html{
        font-size: 40%;
        max-height: 100vh;
    }

    .form{
        height: 60vh;
        width: 75vw;
    }
    .formTwo{
        height: 60vh;
        width: 75vw;
    }

    .nav-logo {
        transform: translateX(3vh) translateY(9vh);
        font-weight: bold;
        max-width: 90vw;
    }

    .nav-logo p {
        font-size: 2.6rem;
    }

    .form form a {
        font-size: 2.1rem;
    }

    .nav-bar {
        display: block;
        height: 22.5vh;
        text-align: right; 
    }

    nav ul li{
        line-height: 4vh;
        transform: translateY(-3.5vh);
    }

    nav ul{
        display: block;
        list-style: none;
        text-decoration: none;
    }

    .container {
        display: grid;
        height: 65vh;
        place-items: center;
        margin-top: 5vh;
        /* margin-left: 7.5%; */
    }

    .form form label {
        line-height: 2.8vh;
    }

    .formTwo form label {
        line-height: 3vh;
    }

    footer {
        padding-top: 3vh;
        height: 4.5vh;
    }
}